.form{

}

.text-danger{
  color: red
}

.form-header{
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
}

.form{
  display: flex;
  justify-content: center;
}

form{
  border: 1px solid #ccc;
  width: 60%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.form-item{
  width: 45%;
}

.form-control{
  padding: 10px 0
}

.form-group{
  display: flex;
  justify-content: space-between;
}

.form-group .form-control{
  width: 45%;
}

label{
  color: #002F6B;
  font-weight: 600;
  font-size: 16px;
}


input{
  width: -webkit-fill-available;
  padding: 10px 15px;
  margin-top: 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

input:focus{
  outline: 0
}

.button{
  display: flex;
  justify-content: center;
  margin-top: 10px
}

.btn{
  padding: 10px 25px;
  margin: 0 15px;
  cursor: pointer;
  font-size: 16px;
  color: #fff
}

.create{
  background-color: rgba(12, 12, 184, 0.849)
}

.create:hover{
  background-color: blue
}

.reset{
  background-color: rgb(5, 170, 5)
}

.cancel{
  color: #000
}

button:disabled{
  opacity: 0.5;
  cursor: default
}

